body {background: url(img/111.jpg) no-repeat right top fixed;}
h1 {
    margin: 5px 140px 5px 10px;
    color: white;
    text-align: center;
    background-color: gray;
    border: 3px double #50ee85;
}
h2, h3 {
    margin: 5px 140px 5px 10px;
    text-align: center;
    background-color: grey;
    border: 3px double #50ee85;
    font-size: 25px;
}
table {
    margin: 5px 10px;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 76%;
    border: 2px solid dodgerblue;

}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
p.tex1 {
    padding: 10px 10px;
    width: 80%;
    font-size: 25px;
    text-align: justify
 }
 p.tex2 {
    padding: 10px 20px 20px;
    width: 80%;
    font-size: 25px;
    text-align: justify
 }
 p.tex4 {
    margin: 5px 10px;
    font-size: 25px;
    text-align: justify
 }